.yellowcircle{
    width: 54px;
height: 54px;

  background: #EBB142 0% 0% no-repeat padding-box;
opacity: 1;
  border-radius: 50%;
  display: inline-block;
}

.customers p {
    text-align: left;
    font: normal normal 600 22px/30px "Nunito";
    letter-spacing: 0px;
    color: #1A2B6D;
    opacity: 1;
    margin-top: 28px;
    cursor: pointer;
  }

  .customers {
    margin-left: 60px;
    margin-top: 20px;
    display: inline-flex;
    gap: 70px;

  }
  .customerdetails{
    text-align: left;
font-family: "Poppins";
letter-spacing: 0px;
color: #3B4046;
opacity: 1;
font-weight: 500;
margin-left: 60px;
margin-top: 40px;
font-size: 18px;
  }

  .customercard{
    width: 304px;
height: 154px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 6px #00000029;
border-radius: 5px;
opacity: 1;
text-align: center;
cursor: pointer;
  }
  .customercard p {
    margin: 35px auto 0;
    width: 74px;
height: 30px;
/* UI Properties */
text-align: left;
font: normal normal bold 22px/30px "Nunito";
letter-spacing: 0px;
color: #1A2B6D;
opacity: 1;
  }
  .customercard span {
    width: 61px;
height: 70px;
/* UI Properties */
text-align: left;
font: normal normal 800 51px/70px "Nunito";
letter-spacing: 0px;
color: #1A2B6D;
opacity: 1;
  }
  .customerdetails {
    display: flex;
    justify-content: space-between;
  }

  .viewcustomercards{
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .trUserIcon2 {
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 50%;
    /* margin-right: 50px !important; */
    border: 3px solid #fff;
    box-shadow: 0px 0px 0px 1.5px #1a2b6d;
    background: #1a2b6d;
    margin-top: 20px;
    margin-left: 15px;
   
  }
  
  .trUserIcon2 img {
    width: 100%;
    object-fit: cover;
  }