.addicon {
  font-size: 35px !important;
  color: #1a2b6d;
}
.useraddicontxt {
  margin-top: 0px;
}
.addsalarybtn {
  margin-top: 70px;
  width: 350px;
  background: #1a2b6d 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  opacity: 1;
  color: #fff;
  height: 60px;
  font-size: 20px;
}
/* .salariessidepannel {
  margin-bottom: 35px;
} */

.datepicker:hover {
  border: 1px solid #1a2b6d;
}

.salarybuttons {
  margin-left: 1355px;
}

.seesummarybtn {
  height: 45px;
  border: 2px solid #1a2b6d;
  color: #1a2b6d;
  text-align: left;
  font: "Nunito";
  letter-spacing: 0px;
  font-size: 17px;
  font-weight: 600;
}

.seesummarybtn:hover {
  color: #ffffff !important;
  background-color: #1a2b6d;
  font: "Nunito";
  letter-spacing: 0px;
  font-size: 17px;
  font-weight: 600;
}

.seesummarybtn:hover {
  color: #1a2b6d;
  border-color: #1a2b6d;
}

table.seesummarytxt1 {
  margin-top: 100px;
  row-gap: 80px;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  color: #1a2b6d;
}
table.seesummarytxt1 th{
  width: 200px;
  text-align: left;
}
table.seesummarytxt1 td{
  width: 100px;
  text-align: center;
}

.editcontentcss .ant-input{
  border: none !important;
  box-shadow: none !important;
}
.editcontentcss label{
  font-size: 22px !important;
  color: #1a2b6d !important;
  width: 250px !important;
  display: flex !important;
  justify-content: space-between;
}
.editsalarybtn{
  margin-top: 70px;
  width:350px;
  background: #1A2B6D 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  opacity: 1;
  color: #fff;
  height: 60px;
  font-size: 20px;
}

