.addicon{
    font-size: 35px !important;
    color: #1A2B6D;
}
.useraddicontxt{
    margin-top: 0px;
}
.savebtn1{
    margin-top: 35px;
    width:350px;
    background: #1A2B6D 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    opacity: 1;
    color: #fff;
    height: 60px;
    font-size: 20px;
}
.salariessidepannel{
    margin-bottom: 35px;
}