.attendancetabs .ant-tabs-nav-list {
  margin-left: 60px;
}

.attendancetabs .ant-tabs-tab-btn {
  height: 27px;
  text-align: left;
  font: "Nunito";
  font-size: 22px;
  letter-spacing: 0px;
  color: #1a2b6d !important;
  opacity: 1;
  
}

.attendancetabs .ant-tabs-tab-active {
  /* height: 30px; */
  text-align: left;
  font: "Nunito";
  letter-spacing: 0px;
  color: #1a2b6d;
  opacity: 1;
  font-size: 22px;
  font-weight: bold;
}

.attendancetabs .ant-tabs-ink-bar {
  background-color: #1a2b6d !important;
  height: 5px !important;
  border-radius: 5px;
}

.tabsdata {
  width: 1920px;
  height: 804px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 20px;
  opacity: 1;
}

.dailydata p {
  height: 30px;
  text-align: left;
  font: "Nunito";
  letter-spacing: 0px;
  color: #1a2b6d;
  opacity: 1;
  font-size: 22px;
  font-weight: 700;
  margin-left: 60px;
  /* margin-top: 10px; */
}

.dailydata p span {
  height: 27px;
  text-align: left;
  font: "Nunito";
  font-size: 22px;
  letter-spacing: 0px;
  color: #1a2b6d !important;
  opacity: 1;
  font-weight: 500;
}

.datepicker {
  width: 174px;
  height: 41px;
  border-radius: 21px;
  border: 1px solid #1a2b6d;
}

.tablecard{
  border-radius: 8px;
  background: #fff;
  height: calc(100vh - 234px);
  box-shadow: 0px 0px 5px #bebebe;
  width: 99%;
  margin: 0 auto;
  margin-top: -109px;
}