.loginbackground {
    background: transparent linear-gradient(60deg, #1E2B69 0%, #1E2B69 28%, #C22F26 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    vertical-align: center;
    position: relative;
    justify-items: center;
    overflow: hidden;
}

.loginbackground aside:first-child{
    width: 50%;
    align-self: center;
    text-align: center;
}

.loginbackground aside:last-child{
    width: 50%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 580px 0 0;
    height: 100vh;
    text-align: center;
    align-items: center;
}

.loginbackground aside:first-child h1{
    color: #fff;
    font: normal normal 800 72px/98px Nunito;
}

section.fieldssection {
    margin-top: 15%;
}
section.fieldssection img:first-child{
    width: 23%;
    margin-bottom: 50px;
}
section.fieldssection h2{
    margin:20px 0 40px 0;
}
section.fieldssection form{
    width: 50%;
    margin: 0 auto;
}
section.fieldssection form input{
    height: 50px;
}
.rememberforgotsec{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.rememberforgotsec a{
    color: #9E9E9E;
    margin-top: 5px;
}

.logbtn{
    margin-top: 40px;
    width:95%;
    background: #1A2B6D 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    color: #fff;
    height: 60px;
    font-size: 20px;
}
.threecircles{
    position: absolute;
    height: 460px;
    width: 513px;
   margin-top: 622px;
   margin-left: -83px;
   
}

/* ///////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1850px) {
    section.fieldssection {
        margin-top: 22%;
    }
    /* section.fieldssection img{
        height: 120px;
        width: 120px;
    } */
}

@media screen and (max-width: 992px) and (min-width:768px){
    .loginbackground aside:last-child{
        border-radius: 0px 0px ;
        width: 70%;
    }
    .rememberforgotsec{
        flex-direction: column;
        margin-left: 0%;
        gap: 10px;
    }
    .fieldssection form{
        width: 70%;
    }
    .logbtn{
        width:95%;
    }
    .loginbackground aside:first-child h1{
        color: #fff;
        font: normal normal 800 42px/78px Nunito;
    }
}
@media screen and (max-width: 768px) and (min-width:576px){
    .loginbackground aside:last-child{
        border-radius: 0px 0px ;
        width: 70%;
    }
    .rememberforgotsec{
        flex-direction: column;
        margin-left: 0%;
        gap: 10px;
    }
    .fieldssection form{
        width: 70%;
    }
    .logbtn{
        width:95%;
    }
    .loginbackground aside:first-child h1{
        color: #fff;
        font: normal normal 800 42px/78px Nunito;
    }
}
@media screen and (max-width:576px){
    .loginbackground aside:last-child{
        border-radius: 0px 0px ;
        width: 100% !important;
    }
    .rememberforgotsec{
        flex-direction: column;
        margin-left: 0%;
        gap: 10px;
    }
    .fieldssection form{
        width: 70%;
    }
    .logbtn{
        width:95%;
    }
    .loginbackground aside:first-child h1 {
        display: none;
    }
    .loginbackground aside:first-child {
        display: none;
    }
    .fieldssection form input{
        height: 28px;
    }
    .rememberforgotsec a{
        display: none;
    }
    .threecircles{
        display: none;
    }
}

.ant-form-item-explain-error {
    text-align: left;
}