.tableWrapper {
    padding: 0 35px;
    overflow: hidden;
    position: relative;
    border-radius: 14px;
    box-shadow: 0px 3px 6px #00000029;
}

.ant-table-thead th{
    background-color: #1A2B6D!important;
    color: #fff!important;
}

.ant-table-thead th:first-child:after {
    content: '';
    top: 0;
    width: 43px;
    height: 100%;
    background-color: #1a2b6d;
    position: absolute;
    left: -37px;
    z-index: 0;
}

.ant-table-thead th:last-child:after {
    content: '';
    top: 0;
    width: 50px;
    height: 100%;
    background-color: #1a2b6d;
    position: absolute;
    right: -37px;
    z-index: 0;
}

.ant-table-thead th:before{
    background-color: #ffffff56!important;
}

.ant-table-tbody td{
    border-bottom: 1px solid #e2e2e2!important;
}

.ant-table-column-sorter.ant-table-column-sorter-full {
    color: #4d5782;
}

.ant-table-column-sorter.ant-table-column-sorter-full:hover,
.ant-tooltip-open .ant-table-column-sorter.ant-table-column-sorter-full{
    color: #fff!important;
}

.custom-input-fields .ant-input{
    border-radius: 21px 0 0 21px;
    height: 36px;
    background: #F6F6F6;
    box-shadow: 1px 1px 4px #cdcdcd;
    padding-left: 20px;
}

.custom-input-fields .ant-select-selector {
    border-radius: 21px;
    height: 36px;
    padding-left: 20px!important;
    border: none!important;
    background: #F6F6F6!important;
    box-shadow: 1px 1px 4px #cdcdcd;
}

.custom-input-fields button {
    height: 36px!important;
    border-left: none;
    border-radius: 0 21px 21px 0!important;
    background: #F6F6F6;
    box-shadow: 1px 1px 4px #cdcdcd;
}

.custom-input-fields .ant-input, .custom-input-fields button{
    border:none!important;
}

.trUserIcon {
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 0px 1.5px #1a2b6d;
}

.trUserIcon img {
    width: 100%;
    object-fit: cover;
}