.header {
    width: 100%;
    background-color: #1A2B6D !important;
    height: 103px;
    margin-top: -16px;
    border-radius:0 0 30px 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.headerselectcomp .ant-select-selector{
    height: 40px !important;
    border-radius: 20px;
    align-items: center;
}
.ant-badge .ant-badge-count {
    background: #FF0000 ;
}

.tdqimage {
    cursor: pointer;
    margin-top: 37px;
    width: 102px;
}

.tdqlogobackground {
    background-color: #FFFFFF;
    height: 103px;
    width: 215px;
    border-bottom-left-radius: 30px;
    text-align: center;
}

/* landing page */
.landing {
    position: relative;
    margin-top: 5px;
    width: 100vw;
    height: calc(100vh - 92px);
    overflow: hidden;
    border-radius: 20px;
}

.widgets {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
}

.widgets h2{
    font-weight: 800;
    color: #1A2B6D;
    margin-bottom: 30px;
}

.widgets section{
    display: flex;
    gap: 80px;
}

.widgets .card {
    width: 200px;
    height: 200px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 3px #0000002E;
    border-radius: 10px;
    opacity: 1;
    cursor: pointer;
    transition: all .30s ease-in-out;
    text-align: center;
}

.widgets .card:hover {
    background-color: #1A2B6D;
}

.widgets .card img:hover {
    background: #FFFFFF;
}

.widgets .card p {
    margin-top: 15px;
    margin-left: 10px;
    text-align: center !important;
}

.widgets .card:hover p {
    color: #FFFFFF;
}

.arrow{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
}
.arrow div{
    position: absolute;
    clip-path: polygon(0 100%, 100% 70%, 100% 100%, 0% 100%);
    background: #d41317;
    width: 100%;
    height: 100%;
    top: 0;
}

.arrow img {
    position: relative;
}

.card:hover .svgimages svg path,
.card:hover .svgimages svg circle {
    fill: #FFFFFF;
}

.svgimages {
    height: 82px;
    width: 82px;
    margin: 35px auto 0;
}

.ant-table-wrapper table tr th.ant-table-selection-column::after {
    background-color: inherit !important;
}

.addbuss{
    display: inline-block;
}

.tablecard .ant-tabs-nav{
    margin-top: -51px!important;
}

.addbussiness {
    display: inline-flex;
    height: 34px;
    gap: 10px;
    justify-content: end;
    margin-left: 1675px;
    cursor: pointer;
    position: absolute;
}
/* .addbusinesstext{
    margin-top: 3px;
} */

.widgets p{
    font-size: 22px ;
    font-weight: 500;
}