.addicon{
    font-size: 35px !important;
    color: #1A2B6D;
}
.useraddicontxt{
    margin-top: 40px;
}
.addbussiness{
    display: inline-flex;
    height: 34px;
    gap: 10px;
    justify-content: end;
    margin-left: 1675px;
    margin-top: 0px;
    cursor: pointer;
}
.addbusinesstext{
    margin-top: 7px;
}
.savebtn{
    margin-top: 190px;
    width:350px;
    background: #1A2B6D 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    opacity: 1;
    color: #fff;
    height: 60px;
    font-size: 20px;
}
.contentSection{
    padding: 0 50px
}

.customermanagementicon{
    margin-left: 60px
}

#customermanagementtext{
    text-align: left;
font: normal normal 800 26px/35px "Nunito";
letter-spacing: 0px;
color: #1A2B6D;
text-transform: uppercase;
opacity: 1;
margin-top: 20px;
height: 35px;
align-items: center;
}