.landing{
    position: relative;
    margin-top: 5px;
    width: 100vw;
    height: 100vh;
}

.widgets{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 80px;
}
.card{
    width: 200px;
height: 200px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 3px #0000002E;
border-radius: 10px;
opacity: 1;
cursor: pointer;
}
.card:hover{
    background-color: #1A2B6D;
}
.card img:hover{
    background: #FFFFFF;
}

.card img{
    height: 82px;
    width: 82px;
    margin-top: 40px;
    margin-left: 60px
}
.card p{
    margin-top: 15px;
    margin-left: 10px ;
    text-align: center !important;
}

/* .card p.cardtext{
    margin-left: 70px;
} */

.arrow{
    position: absolute;
    top: 70%;
    left: 75%;
}
